<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresa</title>
    <link rel="stylesheet" href="/css/styles_login.css">
</head>

<body>
    <main>

        <section id="login_contenedor">
            <form class="formularioDeRegistro" action="/home">
                    <label>
                      <div class="usuario_contenedor">
                        <label for="usuario">Nombre de usuario:</label>
                        <br>
                        <br>
                        <input type="text" name="usuario" id="usuario">
                        <br>
                        <br>
                      </div>
                      <div class="contra_contenedor">
                        <label for="contrasena">Contraseña:</label>
                        <br>
                        <br>
                        <input type="password" name="contrasena" id="contrasena">
                        <br>
                        <br>
                      </div>
                      <div class="botones_contenedor">
                        <button class="inputButtons" id="boton_ingresar" type="submit">Ingresar</button>
                   
                        <button class="inputButtons">Volver</button>
                    </div>
            
                    </label>
            
                </form>
            
              </section>
    

    </main>
</body>

</html>